<div class="nav row">
    <a href="/#/">
        <img src="img/logoSm.png" alt="cruel tea logo">
    </a>
    <a href="/#/about" class="inline-text">
        <p class="inline-text"
           style="margin-left: 50%;">
            About
        </p>
    </a>
    <a href="/#/contact" class="inline-text">
        <p class="inline-text">Contact</p>
    </a>
    <a href="/#/checkout" class="inline-text">
        <button class="inline-text"
                style="margin: 0;">
            Basket:
                <ng-pluralize count="cartSize"
                    when="{ '0': 'Empty',
                            '1': '(1)',
                            'other': '( {} )'}">
                </ng-pluralize>
        </button>
    </a>
</div>