$cream: #FAF3DD;
$mint: #C8D5B9;
$seafoam: #8FC0A9;
$robin: #68B0AB;
$grey: #696D7D;
$dark: #2d2d2d;

html {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: $dark;
    background-color: $cream;
    font-size: 12px;
}

.nav {
    background-color: $seafoam;
    padding: 1rem;

    a {
        text-decoration: none;
        color: $grey;
        margin: 1rem 1rem;
    }
}

div.inline {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
}

.inline-text {
    display: inline;
}


.right {
    padding-left: 30%;
    padding-right: 1rem;
}

.container {
    margin-top: 50px;
}

.listImg {
    border-radius: 20%;
}