$cream: #FAF3DD;
$mint: #C8D5B9;
$seafoam: #8FC0A9;
$robin: #68B0AB;
$grey: #696D7D;
$dark: #2d2d2d;

html {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: $dark;
    background-color: $cream;
}