.mask {
  position: relative;
  overflow: hidden;
  display: block;
  width: 12.5rem;
  height: 6.25rem;
  margin: 1.25rem; }

.semi-circle {
  position: relative;
  display: block;
  width: 12.5rem;
  height: 6.25rem;
  background: linear-gradient(to right, #c0392b 0%, #f1c40f 50%, #1abc9c 100%);
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%; }
  .semi-circle::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    display: block;
    width: 8.75rem;
    height: 4.375rem;
    margin-left: -4.375rem;
    background: #FAF3DD;
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%; }

.semi-circle--mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5rem;
  height: 12.5rem;
  background: transparent;
  transform: rotate(120deg) translate3d(0, 0, 0);
  transform-origin: center center;
  backface-visibility: hidden;
  transition: all .3s ease-in-out; }
  .semi-circle--mask::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 2;
    display: block;
    width: 12.625rem;
    height: 6.375rem;
    margin: -1px 0 0 -1px;
    background: #f2f2f2;
    border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%; }

html {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #2d2d2d;
  background-color: #FAF3DD;
  font-size: 12px; }

.nav {
  background-color: #8FC0A9;
  padding: 1rem; }
  .nav a {
    text-decoration: none;
    color: #696D7D;
    margin: 1rem 1rem; }
    .nav a button {
      color: #FAF3DD;
      background-color: #68B0AB; }

div.inline {
  display: inline-block;
  box-sizing: border-box;
  margin: 0; }

.inline-text {
  display: inline; }

.right {
  padding-left: 30%;
  padding-right: 1rem; }

.container {
  margin-top: 50px; }

.listImg {
  border-radius: 20%; }

.teaName {
  color: #68B0AB; }

.listName {
  margin-bottom: 0; }

ul {
  margin-left: 50px;
  margin-top: 0; }
