html {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #2d2d2d;
  background-color: #FAF3DD;
  font-size: 12px; }

.nav {
  background-color: #8FC0A9;
  padding: 1rem; }
  .nav a {
    text-decoration: none;
    color: #696D7D;
    margin: 1rem 1rem; }
    .nav a button {
      color: #FAF3DD;
      background-color: #68B0AB; }

div.inline {
  display: inline-block;
  box-sizing: border-box;
  margin: 0; }

.inline-text {
  display: inline; }

.right {
  padding-left: 30%;
  padding-right: 1rem; }

.container {
  margin-top: 50px; }

.listImg {
  border-radius: 20%; }

.teaName {
  color: #68B0AB; }

.listName {
  margin-bottom: 0; }

ul {
  margin-left: 50px;
  margin-top: 0; }
